<div class="header">
  <div class="container">
    <a class="nav-link" routerLink="/">
      <h1 class="title">Gestione Attività</h1>
    </a>
    <div class="vertical-divider"></div>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/lista-attivita" class="nav-link" routerLinkActive="active">Lista Attività</a>
        </li>
      </ul>
    </nav>
    <div class="spacer"></div>
    <button class="btn" (click)="toggleDarkMode()">
      <i class="material-icons">
        {{ (isDarkMode$ | async) ? 'brightness_7' : 'brightness_4' }}
      </i>
    </button>
  </div>
</div>
