<div class="quick-insert">
  <div class="component-header">
    <h2>Inserisci Nuova Attività</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titolo">Titolo:</label>
      <input type="text" id="titolo" formControlName="titolo" required>
      <div *ngIf="form.get('titolo')?.invalid && form.get('titolo')?.touched">
        <small class="text-danger">Il titolo è obbligatorio.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione:</label>
      <textarea id="descrizione" formControlName="descrizione"></textarea>
    </div>
    <button type="submit" class="btn btn-action" [disabled]="form.invalid"
      [title]="form.invalid ? 'Inserisci un titolo' : ''">Aggiungi Attività</button>
  </form>
</div>
